{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src/api/**"
        ],
        "alias": {
          "@platform": "./src/platform",
          "config": "./src/config",
          "keys": "./.keys",
          "middleware": "./src/api/middleware",
          "controllers": "./src/api/controllers"
        }
      }
    ],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-class-properties"
  ]
}